
.meme-block-image {
    width: 100%;
}

.meme-block-wrapper {
    position: relative;
}


.meme-block-content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.editor-styles-wrapper .meme-block-wrapper.align-default .meme-block-text-wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.editor-styles-wrapper .meme-block-wrapper.align-default .meme-block-text-wrapper.top-text{
    justify-content: flex-start;
}

.editor-styles-wrapper .meme-block-wrapper.align-default .meme-block-text-wrapper.bottom-text{
    justify-content: flex-end;
}

.editor-styles-wrapper .meme-block-wrapper.align-custom .meme-block-text-wrapper{
    position: absolute;
}

.editor-styles-wrapper .meme-block-text-wrapper h3{
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    text-transform: uppercase;
}


.wp-block-themeisle-blocks-responsive-control {
    margin: 10px 0; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title label {
    padding: 5px 0; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title .floating-controls {
    display: flex; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title .floating-controls button {
    height: 28px;
    border: 1px solid #555d66; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title .floating-controls button.is-primary {
    z-index: 0; }
.wp-block-themeisle-blocks-responsive-control .components-base-control__title .floating-controls button.is-primary:hover {
    background: #007eb1;
    border-color: #006a95 #00648c #00648c;
    box-shadow: inset 0 -1px 0 #00648c;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #005d82,1px 0 1px #005d82,0 1px 1px #005d82,-1px 0 1px #005d82; }

.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-title {
    margin-bottom: 8px;
    color: #6c7781; }

.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item {
    padding: 6px 12px 6px 40px;
    width: 100%;
    margin: 2px 0; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item svg {
    margin-right: 10px; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
    box-shadow: none;
    border-radius: 0; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover .popover-title {
    color: #007cba; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link).is-selected {
    box-shadow: none;
    border-radius: 0;
    padding-left: 6px; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item:not(:disabled):not([aria-disabled="true"]):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):focus {
    box-shadow: 0 0 0 2px #007cba; }
.wp-block-themeisle-blocks-responsive-control-settings .wp-block-themeisle-blocks-responsive-control-settings-item .popover-title {
    color: #40464d; }

